{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Alankrit</title>
    <link href="https://fonts.googleapis.com/css?family=Croissant+One" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Raleway:400,500,600,700,800,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.theme.default.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/responsive.css' %}">
</head>

<body>
    <div class="wrapper">
        <header class="header">
            <div class="blue">
                <img src="{% static 'img/header-shepe-blue.png' %}" alt="">
            </div>
            <div class="white">
                <img src="{% static 'img/header-shepe-white.png' %}" alt="">
            </div>
            <div class="container">
                <!-- <img class="shepe1" src="{% static 'img/shepe1.png' %}" alt="">
                <img class="shepe2" src="img/shepe2.png" alt="">
                <img class="shepe3" src="img/shepe2.png" alt="">
                <img class="shepe4" src="img/shepe2.png" alt="">
                <img class="shepe5" src="img/shepe1.png" alt="">
                <img class="shepe6" src="img/shepe2.png" alt=""> -->
                <div class="row">
                    <div class="col-md-3 col-sm-3 col-xs-12">
                        <div class="logo">
                            <h2><a class="navbar-brand" href="#"><img src="{% static 'img/logo456.png' %}"
                                        alt="image"></a></h2>
                        </div>
                    </div>
                    <div class="col-md-9 col-sm-9 col-xs-12">
                        <div class="menu">
                            <ul class="nav navbar-nav">
                                <li class="active"><a href="#">About</a></li>
                                <li><a href="#">Events</a></li>
                                <li><a href="#">Coordinators</a></li>
                                <li><a href="#">Contact</a></li>
                            </ul>
                        </div>
                    </div>

                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="header-text">
                            <h1>Fine Arts Club - Alankrit</h1>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor <br>
                                incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis <br> nostrud
                                exercitation</p>
                            <button>Read More</button>
                            <button>Explore</button>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="another-text">
                            <div class="hero">
                            </div>
                            <h3>About Us</h3>

                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor Lorem
                                ipsum dolor, sit amet consectetur adipisicing elit. Magni, nesciunt! Lorem ipsum
                                dolor
                                dolorum <br> incididunt
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </header>

        </section>
        <section class="works">
            <div class="container">
                <div class="row">
                    <div class="col-md-7">
                        <div class="work-images">
                            <iframe width="100%" height="100%" src="https://www.youtube.com/embed/kZkLcdT0niE"
                                frameborder="0" allowfullscreen></iframe>
                            <div class="overlay-text">
                                <i class="material-icons">play_circle_filled</i>
                            </div>


                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="work-text-full">
                            <div class="work-text">
                                <h2>How It Works?</h2>
                                <p>Its Simple. Check the video to understand How it works. Lorem Ipsum Dolor Sit Amet.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="portfolia">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="port-text">
                            <h2>Recent Events!!</h2>
                            <p>ILorem ipsum dolor sit amet, consectetur adipisicing elit, sed <br> do eiusmod </p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    {% for post in posts %}
                    <div class="col-md-4 col-sm-6">
                        <div class="portfolio-part">
                            <img src={{ post.image.url }} alt="">
                            <div class="overlay-slide">
                                <h2>{{ post.title }}</h2>
                                <p>{{ post.description }}</p>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="penination">
                            <a href="https://www.instagram.com/alankrit_iiitg/">
                                <p>Artworks</p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="our-team">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="team-text">
                            <h2>Coordinators</h2>
                            <p>Meet Our Awesome Team. Lorem Ipsum dolor sit amet <br> Hola amigos como estas!</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="my-claint owl-carousel owl-theme">
                            {% for coordinator in coordinators %}
                            <div class="item">
                                <img src={{ coordinator.profile_picture.url }} alt="">
                                <div class="item-overlay"></div>
                                <div class="item-text">
                                    <h3>{{ coordinator.name }}</h3>
                                    <h4>{{ coordinator.from_date }} - {{ coordinator.to_date }}</h4>

                                    <p>
                                        {% if coordinator.gmail %}
                                        <a href="{{ coordinator.gmail }}"><i class="fa fa-google"
                                                aria-hidden="true"></i></a>
                                        {% endif %}
                                        {% if coordinator.linkedin %}
                                        <a href="{{ coordinator.linkedin }}"><i class="fa fa-linkedin"
                                                aria-hidden="true"></i></a>
                                        {% endif %}
                                        {% if coordinator.insta %}
                                        <a href="{{ coordinator.insta }}"><i class="fa fa-instagram"
                                                aria-hidden="true"></i></a>
                                        {% endif %}
                                    </p>
                                </div>
                            </div>
                            {%endfor %}

                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="contact">
            <div class="blue">
                <img src="{% static 'img/contact-shepe-blue.png' %}" alt="">
            </div>
            <div class="white">
                <img src="{% static 'img/contact-shepe-white.png' %}" alt="">
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-sm-12">
                        <div class="contact-text">
                            <h2>Contact US!</h2>
                            <p>Meet Our Awesome Team. Lorem Ipsum dolor sit amet Hola amigos como estas!</p>
                        </div>
                    </div>
                    <div class="col-md-8 col-sm-12">
                        <div class="contact-form">
                            <form action="#" method="post">
                                <div class="first">
                                    <input type="text" name="" placeholder="First Name">
                                </div>
                                <div class="last">
                                    <input type="text" name="" placeholder="Last Name">
                                </div>
                                <div class="email">
                                    <input type="email" name="" placeholder="Email Address">
                                </div>
                                <div class="message">
                                    <textarea placeholder="Your Message"></textarea>
                                </div>
                                <div class="checkbox-submit">
                                    <div class="checkbox">
                                        <label><input type="checkbox" name="" checked> Allow Newsletter</label>
                                    </div>
                                    <div class="submit">
                                        <input type="submit" value="SEND">
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <footer class="footer">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-sm-12">
                        <div class="footer-icon">
                            <h2><img src="{% static 'img/logo456.png' %}" alt="image"></h2>
                            <p><a href="#"><i aria-hidden="true" class="fa fa-facebook"></i></a><a href="#"><i
                                        aria-hidden="true" class="fa fa-linkedin"></i></a><a href="#"><i
                                        class="fa fa-instagram" aria-hidden="true"></i></a></p>

                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="footer-text">
                            <div class="row">
                                <div class="col-md-3 col-sm-6 col-xs-6">
                                    <div class="footer-text-single">
                                        <h3><a href="#"><strong>About Us</strong></a></h3>
                                        <h3><a href="#"><strong>Recent Events</strong></a></h3>
                                        <h3><a href="#"><strong>Coordinators</strong></a></h3>
                                        <h3><a href="#"><strong>Contact Us</strong></a></h3>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>

    <script src="{% static 'js/jquery-3.1.1.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'js/active.js' %}"></script>
</body>

</html>